*{
    text-align: center;
}

header{
    margin: 10px;
    padding: 5px;
    text-align: center;
    
}

#charimage{
    width: 100px;
}

.prevDays{
    text-align: center;
}
#daysContainer{
    display: none;
    
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
    grid-template-rows: max-content;
    
    

}
#daysContainer button{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: large;
    

}
#daysContainer button:hover{
    background-color: black;
    color: white;
}